.sidebar-main {
  /* width: 4%; */
  height: calc(100vh - 100px);
  position: fixed;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* background-color: var(--card-back); */
  /* background-color: rgba(0, 0, 0, 0.521); */
  /* background-color: white; */
}

.sidebar-second-main {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.521); */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  /* border: 2px solid red; */
  display: flex;
  gap: 3rem;
  justify-content: start;
  align-items: start;
  background-color: #0e0c17;
  /* background-color: yellow; */
  background-color: rgb(196, 196, 196);
  color: black;
}

.sidebar-z-top-icons-card {
  width: 6%;
  /* border: 2px solid blue; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-z-top-link-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* border: 2px solid blue; */
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  z-index: 10000000;
}

.sidebar-z-top-link-card > img {
  width: 40%;
}

.sidebar-z-top-link-card > h3 {
  font-size: 24px;
}
.sidebar-z-top-link-card > h3 > a {
  text-decoration: none;
  color: inherit;
}

.sidebar-z-top-link-card > h3:hover {
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar-z-top-link-card {
    width: 60%;
  }
}
